/* l.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: url('hello.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h2 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

.container {
    width: 400px; /* Adjust the width as needed */
    padding: 20px;
    height: 450px;
    background-color: #fff;
    border: 2px solid rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    justify-content: center;
    align-items: center;
    font-family: cursive;
    background: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 90px;
    position:relative ;
   
}

h3 {
    text-align: center;
    font-family: cursive;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 90%;
    height: 25px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    font-family: cursive;
    padding: 0 35px 0 5px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #774281;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #973c56;
}
